<nav class="container-fluid header d-flex justify-content-center align-items-center bg-dark">
  <nav class="menu-bar col-12 d-flex justify-content-around">
    <a class="text-center" routerLink="" ><p class="text-bar">Fake store</p></a>
    <div class="col-9 d-flex justify-content-around align-items-center">
      <a class="text-center" routerLink="" ><p class="text-bar">Home</p></a>
      <a class="text-center" routerLink="products" ><p class="text-bar">Products</p></a>
      <a class="text-center" routerLink="profile" ><p class="text-bar">Profile</p></a>
      <a class="text-center" routerLink="login" ><p class="text-bar">Login</p></a>
    </div>
</nav>
</nav>
