a
{
  text-decoration: none;
}
.header
{
  min-height: 50px;
}
.menu-bar
 {
   display: flex;
   align-items: center;
 }
.text-bar
{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  color: white;
  transition: 0.5s;
}

.text-bar:hover
{
  color: #17a7c6;
}
.btns
{
  max-width: 20px;
}
