<footer class="footer-end bg-dark">
  <div class="footer-cover col-12 d-flex justify-content-center align-items-center bg-dark">
    <div class="footer-block text-center">
      <p class="p-footer qwerty">Contact</p>
      <a href="index.html" class="footer-text qwerty"><b>Phone:  +380 95 253 7617</b></a>
      <a href="index.html" class="footer-text qwerty"><b>Phone:  +380 97 633 0137</b></a>
      <a href="index.html" class="footer-text qwerty"><b>Email:  mkr.moda@gmail.com</b></a>
    </div>
    <div class="footer-block text-center ">
      <p class="p-footer  qwerty">Socail Media</p>
      <div class="footer-logo qwerty"><a href="https://www.instagram.com/"><h1 class="fa-brands fa-instagram"></h1></a></div>
      <div class="footer-logo qwerty"><a href="https://uk-ua.facebook.com/"><h1 class="fa fa-facebook-official"></h1></a></div>
      <div class="footer-logo qwerty"><a href="https://twitter.com/?lang=uk"><h1 class="fa fa-twitter"></h1></a></div>
    </div>
    <div class="footer-block text-center">
      <p class="p-footer qwerty">Further Info</p>
      <a routerLink="" class="footer-text qwerty"><b>Home</b></a>
      <a routerLink="products" class="footer-text qwerty"><b>Products</b></a>
      <a routerLink="profile" class="footer-text qwerty"><b>Profile</b></a>
      <a routerLink="login" class="footer-text qwerty"><b>Login</b></a>
    </div>
  </div>
</footer>
