a
{
  text-decoration: none;
}
.footer-end
{
  background-color: black;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
}
.footer-cover
{
  background-color: black;
  height: 50%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-block
{
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;

}
.footer-text
{
  font-family: 'Kanit', sans-serif;
  color: white;
  padding-top: 5%;
}
.footer-text:hover
{
  color:#17a7c6;
  transition: 0.5s;
}

.fa-instagram
{
  color:white;
}

.fa-instagram:hover
{
  cursor: pointer;
  color: #17a7c6;
  transition: 0.5s;
}

.fa-facebook-official
{
  color:white;
}

.fa-facebook-official:hover
{
  cursor: pointer;
  color: #17a7c6;
  transition: 0.5s;
}

.fa-twitter
{
  color:white;
}

.fa-twitter:hover
{
  cursor: pointer;
  color: #17a7c6;
  transition: 0.5s;
}

.p-footer
{
  font-family: 'Kanit', sans-serif;
  font-weight: 600;

  color: white;
}


.qwerty
{
  min-height: 30px;
}
