<footer class="footer-end">
  <div class="footer-cover">
    <div class="footer-block">

      <p class="p-footer">Contact</p>
      <a href="index.html" class="footer-text"><b>Phone:  +380 95 253 7617</b></a>
      <a href="index.html" class="footer-text"><b>Phone:  +380 98 816 0453</b></a>
      <a href="index.html" class="footer-text"><b>Phone:  +380 66 766 7086</b></a>
      <a href="index.html" class="footer-text"><b>Email:  mkr.moda@gmail.com</b></a>

    </div>

    <div class="footer-block">

      <p class="p-footer">Socail Media</p>

      <div class="footer-logo"><a href="https://www.instagram.com/"><h1 class="fa-brands fa-instagram"></h1></a></div>

      <div class="footer-logo"><a href="https://uk-ua.facebook.com/"><h1 class="fa fa-facebook-official"></h1></a></div>

      <div class="footer-logo"><a href="https://twitter.com/?lang=uk"><h1 class="fa fa-twitter"></h1></a></div>

    </div>

    <div class="footer-block">
      <p class="p-footer">Further Info</p>
      <a href="index.html" class="footer-text"><b>Home</b></a>
      <a href="index.html" class="footer-text"><b>About Us</b></a>
      <a href="index.html" class="footer-text"><b>Shop</b></a>
      <a href="index.html" class="footer-text"><b>Login</b></a>
    </div>
  </div>
</footer>
